/* Update styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent default browser margin */
}

#map {
    height: calc(100% - 120px); /* Adjust the value based on the combined height of the top and bottom banners */
    width: 100%;
}

.top-banner {
    background-color: #778899;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.top-banner img {
    max-width: 100%;
    max-height: 50px;
}

.top-banner h1 {
    margin: 0;
}

.top-banner nav {
    display: flex;
}

.top-banner a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.top-banner a:hover {
    color: #ddd;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #778899;
    padding: 10px;
    text-align: left;
}

.banner h2 {
    margin: 0;
    color: white;
    display: inline-block;
}

.banner a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    color: #4169E1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.banner a:hover {
    background-color: #333;
    color: #fff;
}

.banner a:hover {
    background-color: #333; /* Adjust link background color on hover */
    color: #fff; /* Adjust link text color on hover */
}