body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
}

#map {
    height: 500px; /* Adjust the value based on the desired height of the map */
    width: calc(100% - 40px); /* Adjusted width with 20px buffer on each side */
    margin: 0 20px; /* Margin for buffer */
}

.top-banner {
    position: relative;
}

.top-content {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.top-content h1 {
    margin: 0;
    color: black;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.top-content nav a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.top-content a:hover {
    color: #ddd;
}

.top-banner img {
    width: 100%;
    height: auto;
}

.map-placeholder {
    padding: 20px;
}

.banner {
    background-color: #778899;
    padding: 10px;
    text-align: left;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.banner h2 {
    margin: 0;
    color: black;
    display: inline-block;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* White outline */
}

.banner a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    color: #4169E1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* White outline */
}

.banner a:hover {
    background-color: #333;
    color: #fff;
}

/* Blog Post Container */
.blog-post-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post-container h2, .blog-post-container p {
    margin-bottom: 20px;
}

.blog-post-container a {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.blog-post-container a:hover {
    background-color: #0056b3;
}
#arrow-controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#arrow-controls button {
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
}